:root {
  --black: #000;
  --white: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background: var(--white);
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
}
